<div  class="list-group">
    <div  class="list-group-item active">
        <a href="/#/users/{{user._id}}/" style="color: #FFFFFF">
            <i class="fa fa-user" style="margin-right: 5px"></i>{{user.userName}}<span></span></a>
            <a href="/#/logout" class="badge">logout <i class="fa fa-sign-out" style="color:#FF0000"></i>
        </a>
    </div>

    <a id="homeMainMenu" href="/#/home" class="list-group-item ">
        <i class="fa fa-home"></i><span translate>&nbsp; Home</span>
    </a>
    <a id="gameMainMenu" ng-if="user.gameCreate" href="/#/gameList" class="list-group-item ">
       <i class="fa fa-dashboard"></i> <span translate> &nbsp;Game </span>
    </a>
    <a id="userMainMenu" href="/#/users" class="list-group-item">
       <i class="fa fa-bar-chart"></i> <span translate> &nbsp;User</span>
    </a>
    <a id="editorMainMenu" href="/#/editor" class="list-group-item">
        <i class="fa fa-sun-o"></i><span translate> &nbsp;Editor</span>
    </a>
    <a id="searchMainMenu" href="/#/search" class="list-group-item">
        <i class="fa fa-map-o"></i><span translate>&nbsp; Search </span>
    </a>
    <a id="aboutMenu" href="/#/about" class="list-group-item">
        <i class="fa fa-question-circle"></i> <span translate>About</span>
    </a>
    <span class="list-group-item main-menu-logo" >
        <img src="images/RPG-Sandbox.png" class="img-responsive">
    </span>
</div>
  
