<div class="container-fluid root-container">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="main col-md-9 about-page">
            <div class="page-header">
                <h3 translate>About</h3>
            </div>

            <h4 translate>What is RPG-Sandbox</h4>
            <p translate>
                RPG-Sandbox is a JavaScript application to create a visual support for Role playing game ,

            </p>

            <h4 translate>Author: </h4>
            <p>Golbian</p>
        </div>
    </div>
</div>
