<!DOCTYPE html>
<html ng-app="app">
<title>RPG-Sandbox</title>

<link rel="stylesheet" href="css/bundle.min.css">

<!--angular ui tree-->

<link rel="stylesheet" type="text/css" href="css/main.css"/>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">

</div>

</body>

<script src="js/bundle.min.js"></script>

<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/menu-list/controllers.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/game/controller.js"></script>
<script type="text/javascript" src="js/map/controller.js"></script>
<script type="text/javascript" src="js/editor/controller.js"></script>

</html>
