<!DOCTYPE html>
<html ng-app="app">
<title>RPG-Sandbox</title>

<link rel="stylesheet" href="css/bundle.min.css">

<!--angular ui tree-->
<link rel="stylesheet" type="text/css" href="css/jsPlumb.css"/>


<link rel="stylesheet" type="text/css" href="css/components.css"/>

<link rel="stylesheet" type="text/css" href="css/main.css"/>

<link rel="stylesheet" type="text/css" href="css/ndDesigner.css"/>

<link rel="stylesheet" type="text/css" href="css/inspector.css"/>

<body>

<div ng-view  ng-intro-options="IntroOptions" ng-intro-method="CallMe">

</div>

</body>

<script src="js/bundle.min.js"></script>

<!-- RPG-Sandbox directives -->
<script src="js/directives/wst-directives.js"></script>
<script src="js/modules/intro-help.js"></script>

<!-- angular app -->
<script type="text/javascript" src="js/webapp.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/directives/modal.js"></script>
<script type="text/javascript" src="js/home/controller.js"></script>
<script type="text/javascript" src="js/menu-list/controllers.js"></script>
<script type="text/javascript" src="js/services/pager.js"></script>
<script type="text/javascript" src="js/services/language.js"></script>
<script type="text/javascript" src="js/map/controller.js"></script>
<script type="text/javascript" src="js/map/model.js"></script>
<script type="text/javascript" src="js/map/services/grid.js"></script>
<script type="text/javascript" src="js/map/services/vGrid.js"></script>
<script type="text/javascript" src="js/map/services/pivot.js"></script>
<script type="text/javascript" src="js/map/services/elements.js"></script>
<script type="text/javascript" src="js/map/directives/wstDropzone.js"></script>
<script type="text/javascript" src="js/map/directives/mapView.js"></script>
<script type="text/javascript" src="js/map/directives/prompts.js"></script>
<script type="text/javascript" src="js/users/controller.js"></script>
<script type="text/javascript" src="js/users/model.js"></script>
<script type="text/javascript" src="js/roles/controller.js"></script>
<script type="text/javascript" src="js/logout/controller.js"></script>
<script type="text/javascript" src="js/spaces/controller.js"></script>
<script type="text/javascript" src="js/gamev2/controller.js"></script>
<script type="text/javascript" src="js/gamev2/model.js"></script>
<script type="text/javascript" src="js/inspector/page_block.js"></script>
<script type="text/javascript" src="js/widgets/mapHtmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/colors.js"></script>
<script type="text/javascript" src="js/widgets/htmlWidgets.js"></script>
<script type="text/javascript" src="js/widgets/common.js"></script>
<script type="text/javascript" src="js/io/controller.js"></script>
<script type="text/javascript" src="js/io/model.js"></script>
<script type="text/javascript" src="js/files/service.js"></script>
<script type="text/javascript" src="js/files/fileModal.js"></script>


</html>
