<div ng-show="!mapInterface" id="mainContainer" class="explorer-main-container" >

<div class="explorer-container">

    <div class="explorer-header" ng-init="initForm()">

        <div class="explorer-header-title">
            <h3 class="pull-left" >{{ selectedGame.gameName }}</h3>
        </div>

        <div class="explorer-header-buttons">
            <a id="saveGameBtn" data-ng-click="gameName()" class="btn btn-success" style="margin-left: 5px" uib-tooltip="{{'Click here to save the game changes' | translate}}" tooltip-placement="bottom" translate>Save</a>

            <a ng-click="goBack();" class="btn btn-default" uib-tooltip="{{'Click here to cancel and backtrack' | translate}}" tooltip-placement="bottom">Cancel</a>
        </div>

    </div>
    </div>
    <div id="gameform" ng-controller="GamesViewController">
      <form editable-form class="ng-scope ng-binding editable">
        <div class="form-group">
          <label></label>
          <input class="form-control" id="exampleFormControlInput1" placeholder="Descrip">
        </div>

        <div class="form-group">
          <a class="btn btn-info" ng-href="/#/maps/new/" translate>New Map</a>
          <button class="btn btn-info" ng-click="importMap()" translate>Import Map</button>
        </div>
        <span>Maps added to the Game: </span>
        <ul class="list-group">
          <a ng-href="/#/maps/edit/{{ item._id }}">
          <li ng-repeat="item in selectedGame.maps" style="width: 25%; display: flex; align-items: center; border-radius: 5px;" id="{{item.id}}" ng-if="item.mapName" class="list-group-item">{{ item.mapName }}
              <a id="mapListItemDeleteBtn" href="" style="margin-left: 50px;" class="pull-right  list-button btn-delete" ng-click="deleteMap(item.id,item.mapName)"  uib-tooltip="{{ 'Click here to delete this report' | translate }}" tooltip-placement="bottom">
                  <i class="fa fa-trash-o "  ></i>
              </a>
          </li>
          </a>
        </ul>
        <div class="form-group">
          <label>Description</label>
          <textarea ng-model="selectedGame.properties.description" class="form-control" id="GameDescription" rows="3"></textarea>
        </div>
      </form>
    </div>
</div>


<nd-modal id="gameNameModal">
    <div class="modal-body">
        <form class="simple-form" role="form" name="gameForm">
            <div class="form-group">
                <label translate>Game Name</label>
                <input name="gameName" type="text" class="form-control" ng-model="selectedGame.gameName" ng-required="true" required >
                <span ng-show="gameForm.gameName.$invalid" class="help-inline" translate>The game name is required</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="gameNameSave()" ng-disabled="mapForm.$invalid" class="btn btn-primary submit-btn pull-right" translate>Save</button>
        <button type="button" class="btn pull-right" data-dismiss="modal" translate>Cancel</button>
    </div>
</nd-modal>

<div id="previewContainer"></div>
