<div class="modal-header">
  <div class="attributes">
    <button class="btn">Add attributes</button>
  </div>
  <div class="stats">
    <div class="healthModal">
      <span class="pull-left">
        <h3>Health: </h3>
        <h4 editable-text="vm.item.health" blur="submit">{{ vm.item.health }}</h4>
      </span>
    </div>
    <div class="manaModal">
      <span>
        <h3>Mana: </h3>
        <h4 editable-text="vm.item.mana" blur="submit">{{ vm.item.mana }}</h4>
      </span>
    </div>
    <div class="staminaModal">
      <span>
        <h3>Stamina: </h3>
        <h4 editable-text="vm.item.stamina" blur="submit">{{ vm.item.stamina }}</h4>
      </span>
    </div>
  </div>
  <button class="btn btn-success" ng-click="Save()">Save</button>
</div>
