<div class="modal-header">
  <div class="attributes">
    <button class="btn">Add attributes</button>
  </div>
  <div class="stats">
    <div class="healthModal">
      <h4 editable-text="selectedToken.health" blur="submit">{{ selectedToken.health }}></h4>
    </div>
    <div class="manaModal">
      <h4 editable-text="selectedToken.mana" blur="submit">{{ selectedToken.mana }}></h4>
    </div>
    <div class="staminaModal">
      <h4 editable-text="selectedToken.stamina" blur="submit">{{ selectedToken.stamina }}></h4>
    </div>
  </div>
</div>
